@tailwind base;
@tailwind components;
@tailwind utilities;
.arrow::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 0;
    transform: rotate(45deg);
    @apply bg-black bg-opacity-60;
    z-index: -2;
}